/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/formCard/[id]/page.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.page_divisor__gZ5Ux{
    width: 100%;
    height: 1px;
    margin-top: 60px;

    background-color: #00000059;
}

.page_bio__LNEKn{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 70px 0px 40px 0px;
}

.page_bio__LNEKn img{
    width: 91px;
    height: 91px;
    border-radius: 5px;
}

.page_bio__LNEKn h1{
    font-size: 35px;
}

.page_bio__LNEKn p{
    font-size: 20px;
    font-weight: 400;
}

.page_form__P7NUQ{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    
    gap: 20px;
}

.page_input__94rRj{
    width: 100%;
    border: none;
    border: 1.5px solid #C8C8C8;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 17px;
}

.page_btn__951fY{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 17px;
    margin-top: 15px;
    cursor: pointer;

    background-color: #073385;
    color: #FFFF;
}

